.clients_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
}

.clients_logo_container {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.clients_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  gap: 60px;
}

.clients_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.subscribe_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
}

.subscribe_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.subscribe_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0px;
}

.subscribe_flex-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

.subscribe_title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;
  letter-spacing: 0.1px;

  /* light-text-color */

  color: #ffffff;

  width: 253px;
  height: 64px;
}
