.footer {
  background: #fafafa;
}

.contactUs_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}

.contactUs_row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
}

.contactUs_title_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 187px;
}

.contactsUs_title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.contactUs_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.links_div {
  background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
  padding: 0px 87px;
}

.links_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

.links_row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.links_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.links_title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.links_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.links_list_item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.links_list_item_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.rights_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
}

.rights_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 50px;
}

.rights_title_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.rights_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.socials_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
}
