.Practice_section {
  display: flex;
  justify-content: center;
  background: #f3f3f3;
  padding: 0px 42px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 53px;
  padding-bottom: 192px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 1050px;
    padding: 80px 0px;
  }
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 45px 0px;
}

@media screen and (min-width: 768px) {
  .title_container {
    width: 100%;
    align-items: center;
  }
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 330px;
  height: 190px;
}

@media screen and (min-width: 768px) {
  .row {
    align-items: center;
    width: 100%;
    height: auto;
  }
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 330px;
  height: 190px;
}

@media screen and (min-width: 768px) {
  .main_content {
    width: 100%;
    height: auto;
  }
}

.title {
  width: 258px;
  height: 100px;

  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

@media screen and (min-width: 768px) {
  .title {
    width: 100%;
    height: auto;
  }
}

.text {
  width: 206px;
  height: 80px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.2px;

  color: #737373;
}

@media screen and (min-width: 768px) {
  .text {
    width: 100%;
    max-width: 431px;
    height: auto;
  }
}

.practices_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.practices_row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .practices_row {
    flex-direction: row;
  }
}

.row_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.card_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 230px;
  height: 317px;

  background: #ffffff;
}

.card_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 15px;

  width: 232px;
  height: 179px;
}

.card_title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.1px;

  /* text-color */

  color: #252b42;
}

.card_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.2px;

  /* second-text-color */

  color: #737373;

  width: 145px;
  height: 80px;
}
