.contacts_section {
  background: #f3f3f3;
  display: flex;
  justify-content: center;
}

.contacts_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0px;
  gap: 60px;

  width: 330px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.title_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.contacts_title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 0.2px;

  /* text-color */

  color: #252b42;
}

.contacts_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;
  letter-spacing: 0.2px;

  /* second-text-color */

  color: #737373;

  width: 264px;
}

.contacts_items_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 100%;
}

.contact_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  gap: 15px;

  min-width: 100%;

  background: #ffffff;
}

.contact_item_dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 15px;

  min-width: 100%;

  background: #252b42;
}

.email_address_dark {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: center;
  letter-spacing: 0.2px;

  /* text-color */

  color: #252b42;
}

.email_address_light {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: center;
  letter-spacing: 0.2px;

  /* text-color */

  color: #ffffff;
}

.contact_item_label {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1px;

  /* text-color */

  color: #252b42;
}

.contact_item_label_light {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1px;

  /* text-color */

  color: #ffffff;
}

.test_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}
